<div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid text-center">
        <div class="navbar-footer ">
          <a class="navbar-btn btn-default btn"><span class="glyphicon glyphicon-home"></span></a>
          <a class="navbar-btn btn-default btn"><span class="glyphicon glyphicon-search"></span></a>
          <a class="navbar-btn btn-default btn"><span class="glyphicon glyphicon-camera"></span></a>
          <a class="navbar-btn btn-default btn"><span class="glyphicon glyphicon-list"></span></a>
          <a class="navbar-btn btn-default btn"><span class="glyphicon glyphicon-user"></span></a>
        </div>
      </div>
</div>